.title-text , .text-content{
    text-align: center;
    font-weight: 800;
}

.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px;
}

.cart-container{
    background-color: #03203C;
    color: white;
}