.cart{
    padding: 10px;
}

.cart-title{
    text-align: center;
}

.btn-item{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
    background-color: #1C8D73;
    color: white;
    font-weight: 700;
}