.cart{
    padding: 10px;
    position: sticky;
    top: 0;
}

.cart-title{
    text-align: center;
}

.btn-item{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
    background-color: #1C8D73;
    color: white;
    font-weight: 700;
}

@media screen and (max-width:600px) {
    .cart-title{
        font-size: 15px;
    }
    .btn-item{
        font-size: 8px;
        padding: 4px;
    }
    .choose-one-text{
        font-size: 10px;
    }
    .cart h5{
        font-size: 8px;
    }
}