.questions-container{
    margin-top: 50px;
    padding: 0 30px;
    text-align: justify;
}

.question{
    text-align: center;
}

@media screen and (max-width:600px) {
    .questions-container{
        margin-top: 30px;
        padding: 0 20px;
    }
    .questions-container h1{
        font-size: 25px;
    }
    .questions-container h3{
        font-size: 15px;
    }
}