.product{
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info{
    padding: 0 20px;
}

.cart-btn{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #03203C;
    color: white;
}

.btn-text{
    font-weight: 700;
    margin-right: 8px;
}

@media screen and (max-width: 660px) {
    .product{
        width: 200px;
        height: 320px;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        position: relative;
    }

    .product img{
        width: 186px;
        height: 140px;
        border-radius: 8px;
        margin: 7px;
    }

    .product-info{
        padding: 0 10px;
        font-size: 10px;
    }
}

/* @media only screen and (min-width:601px) and (max-width:1240px) {
    .product{
        width: 200px;
        height: 320px;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        position: relative;
    }

    .product img{
        width: 186px;
        height: 140px;
        border-radius: 8px;
        margin: 7px;
    }

    .product-info{
        padding: 0 10px;
        font-size: 10px;
    }
} */